header {
    background-color: #ffffff;
    color: #323232;
    padding: 8px;
}

body {
    font-family: Arial, sans-serif;
    color: #323232;
    margin: 0;
}

.navbar {
    background-color: #bcbcbc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
}

.bar {
    width: 28px;
    height:4px;
    background-color: #323232;
    margin-bottom: 4px;
}

.hamburger {
    width: 32px;
    height: 20px;
    display: none; 
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    margin-right: 10px;
}

.menu a:hover {
    color: rgb(57, 181, 234);
}


.hero {
    background-color:#CBDCED;
    text-align: center;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.hero h1 {
    font-size: 32px;
    margin: 0;
}

.content {
    background-color: #ffffff;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 16px;
}

.box-content {
    display: grid;
    /*grid-template-rows: 1fr 1fr;*/
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 16px;
    height: 40vh;
}

.box-item {
    background-color: #8798A9;
    /*border: 1px solid #f22345; */
    margin: 8px;
    padding: 4px;
    display: inline-grid;
    text-align: center;
}

button {
    background-color: #CBDCED;
    padding: 12px;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .hamburger{
        display: block;
    }

    .menu ul li:not(.hamburger) {
        display: none;
    }
}

@media screen and (max-width:500px){
    .box-content {
        grid-template-columns: 1fr;
    }
}

